html, body {
	height: 100%;
	margin: 0px;
}

body{
	font-family: "Poppins", sans-serif;
}
.container {
	height: 100%;
	background: #3A9CFF;
}

.down {
	height: 50%;
	background: white;
}

.holder {
	width: 420px;
	height: 800px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	-webkit-box-shadow: 7px 9px 43px -16px rgba(0,0,0,0.45);
	-moz-box-shadow: 7px 9px 43px -16px rgba(0,0,0,0.45);
	box-shadow: 7px 9px 43px -16px rgba(0,0,0,0.45);
	border-top: 5px #3A9CFF solid;	
}

img {
	display: flex;
	margin: 4% auto;
}


p{
	font-size: 18pt;
	font-family: Poppins;
	font-weight: 800;
	margin-left: 14%;
	margin-top: -10px;
	
}

label{
	margin-left: 16%;
	font-size: 9pt;
	color: #707070;
}

input[type=text], input[type=password] {
	display: flex;
 	margin: 2px auto -15px auto;
	width: 70%;
	height: 38px;
	border-radius: 30px;
	border: 1px solid #C4C4C4;
	padding-left: 15px;
	font-size: 11pt;
}


input:focus {
	border: 1px solid #3A9CFF;
	outline: none;
  }

#privacy {
	display: flex;
	margin: 0;
	margin-left: 17%;
	height: 15px;
	margin-top: 5px;
}

label[for=privacy]{
	margin-left: 24%;
	margin-top: -17px;
	position: absolute;
}

.button {
	
	margin: 25px auto;
	margin-left:15%;
	width: 70%;
	height: 42px;
	border-radius: 30px;
	background-color: #3A9CFF;
	border: none;
	color: white;
	text-align: center;
	font-size: 14pt;
	font-weight: 500;

	-webkit-box-shadow: 11px 10px 18px -8px rgba(58,157,255,0.33);
	-moz-box-shadow: 11px 10px 18px -8px rgba(58,157,255,0.33);
	box-shadow: 11px 10px 18px -8px rgba(58,157,255,0.33);
}

#acc {
	margin-top: 45px;
	margin-left: 25%;
	font-size: 9pt;
	font-weight: 100;
	display: flex;
	align-content: center;
}

#acc span{
	color: #3A9CFF;
}

small {
	font-size: 8pt;
	margin-left: 16%;
}


