html, body {
	height: 100%;
	margin: 0px;
}

body{
	font-family: "Poppins", sans-serif;
}
.container {
	height: 100%;
	background: #3A9CFF;
}

.down {
	height: 50%;
	background: white;
}
.holder
{
	width: 96%;
	height: 750px;
	background: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	-webkit-box-shadow: 7px 9px 43px -16px rgba(0,0,0,0.45);
	-moz-box-shadow: 7px 9px 43px -16px rgba(0,0,0,0.45);
	box-shadow: 7px 9px 43px -16px rgba(0,0,0,0.45);
	border-top: 5px #3A9CFF solid;	
}


img {
	
	margin-left: 50%;
}


p{
	font-size: 18pt;
	font-family: Poppins;
	font-weight: 800;
	margin-left: 14%;
	margin-top: -10px;
	
}

label{
	margin-left: 16%;
	font-size: 9pt;
	color: #707070;
}

input[type=text], input[type=password],[type=text]  {
	display: flex;
 	margin: 2px auto -15px auto;
	width: 70%;
	height: 38px;
	border-radius: 30px;
	border: 1px solid #C4C4C4;
	padding-left: 15px;
	font-size: 11pt;
}


input:focus {
	border: 1px solid #3A9CFF;
	outline: none;
  }

#privacy {
	display: flex;
	margin: 0;
	margin-left: 17%;
	height: 15px;
	margin-top: 5px;
}

label[for=privacy]{
	margin-left: 24%;
	margin-top: -17px;
	position: absolute;
}

#acc {
	margin-top: 45px;
	margin-left: 25%;
	font-size: 9pt;
	font-weight: 100;
	display: flex;
	align-content: center;
}

#acc span{
	color: #3A9CFF;
}

small {
	font-size: 8pt;
	margin-left: 16%;
}
.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #3A9CFF;
	overflow-x: hidden;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
  }
  
  .sidenav a, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	display: block;
	border: none;
	background: none;
	width:100%;
	text-align: left;
	cursor: pointer;
	outline: none;
  }
  

  .sidenav a:hover, .dropdown-btn:hover {
	color: #f1f1f1;
  }
  
 
  .main {
	margin-left: 200px; 
	font-size: 20px; 
	padding: 0px 10px;
  }
  

  .active {
	background-color: green;
	color: white;
  }
  

  .dropdown-container {
	display: none;
	background-color: #262626;
	padding-left: 8px;
  }
  
  
  .fa-caret-down {
	float: right;
	padding-right: 8px;
  }
  #customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	margin-top: 1%;
	margin-left: 220px;
  }
  
  #customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #3A9CFF;
	color: white;
  }

  .button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  

  
  .button2 {
	background-color: white; 
	color: #3A9CFF; 
	border: 2px solid #3A9CFF;
	float: right;
    margin-top: 1%;
    margin-right: 2%;
  }
  
  .button2:hover {
	background-color: #3A9CFF;
	color: white;
  }

  table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 90%;
	margin: auto;
	padding-top: 20px;
  }
  
  td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	width: 150px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }
  #app
  {
	  margin-top: 0%;
  }
  #naglowek
  {
	  margin-top: 2%;
	  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3A9CFF;
  color: white;
  
  }